.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  justify-content: center;
}

.services__item {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  width: 25rem;
  height: auto;
}

.services__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

h3{
 text-align: center;
 margin-bottom: 1.5rem;
 height: auto;
}

.services__height {
  height: 70%;
}

.services__height h3 {
  display: flex;
  justify-content: center;
}

.services__content {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

p {
 text-align: left;
}

.services__content img {
  border-radius: 2rem;
  width: 100%;
  max-width: 400px;
  height: auto;
}

.services__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}


/* ========================== MEDIA QUERIES (MEDIUM DEVICES) ========================== */

@media screen and (max-width: 1024px) {
  .services__container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .service {
    height: auto;
  }
}

/* ========================== MEDIA QUERIES (SMALL DEVICES) ========================== */

@media screen and (max-width: 600px) {
  .services__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
